body.light-dm {
    background: #f3f3f5 url(/omux_shared_lib/static/img/lbg.webp) center 160px no-repeat;

    main:has(.o_database_list) {
        align-content: center;
        font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        .o_database_list {
            margin-top: -7rem;
            max-width: 245pt !important;

            border: 1px solid $o-gray-300 !important;
            box-shadow: 1px 1px 0 2px #38312f08;
            border-radius: 16px !important;

            >.card-body {
                border-radius: 16px !important;
                padding-bottom: 1.6vmax;

                >div.border-bottom {
                    padding-top: 1vmax;
                    border-bottom-width: 0px !important;
                }

                >div.border-top {
                    border-top-style: dotted !important;
                }

                form {
                    padding-inline: 1.2vmax;
                }
            }
        }
    }

    .oe_login_form,
    .oe_signup_form,
    .oe_reset_password_form {

        .form-control {
            border-color: $o-gray-300;
            color: $o-gray-600;
            font-size: .875rem;
            line-height: 1.25rem;
            padding: .5rem .75rem;
        }

        .list-group-item {
            border-color: $o-gray-300;
            color: $o-gray-600;
            font-size: .9rem;
        }

        .form-control::-moz-placeholder {
            color: $o-gray-400;
        }

        .form-control::placeholder {
            color: $o-gray-400;
        }

        .text-muted {
            color: $o-main-color-muted !important;
        }

        label {
            color: rgba($o-gray-900, .72);
            font-size: 14px;
        }
    }

    .oe_login_form {
        .form-control {
            padding: .47rem .75rem;
        }
    }

    .oe_signup_form {
        label {
            margin-bottom: 0.33rem;
        }

        .form-control-sm {
            padding: 0.375rem 0.75rem;
        }
    }
}