// Patch
.o_control_panel_main_buttons:has(button.o-kanban-button-back) .u_btn_back {
    display: none !important;
}

.o_stock_kanban .o_kanban_renderer .o_kanban_record {
    margin-inline: unset !important;
}