.o_form_view:not(.o_field_highlight) {

    .o_wrap_field:has(input[type='text'], select) {
        .o_cell.o_wrap_label:has(label.o_form_label) {
            align-content: center;
        }
    }

    .o_cell {
        --omux-input-bg: #{rgba($o-gray-300, .2)};
        --omux-input-lh: 2.25;

        >.d-flex>span,
        .o_field_widget>div.d-flex>span {
            align-content: center;
        }

        .o_field_widget.o_field_priority {
            vertical-align: text-top !important;
        }

        .o_field_widget:not([class*="many2"]):has(.o_input) {
            background-color: var(--omux-input-bg);
            border-radius: $o-border-radius;
            padding-inline: 5px;

            .o_input {
                line-height: var(--omux-input-lh, $o-line-height-lg);
            }
        }

        .o_field_widget[class*="many2one"]:has(.o_input) {
            &:not([class*="many2one_avatar"]) {
                background-color: var(--omux-input-bg);
                border-radius: $o-border-radius;
                padding-inline: 5px;
            }

            &:has(.o_external_button) {
                padding-right: 0;
            }

            &[class*="many2one_avatar"] {
                .o_field_many2one_selection {
                    background-color: var(--omux-input-bg);
                    border-radius: $o-border-radius;
                }

                &:not(img) .o_field_many2one_selection {
                    margin-inline: -4px;
                    padding-right: 5px;
                }

                &:has(img) .o_field_many2one_selection {
                    margin-right: 0px;
                    margin-left: 2px;
                    padding-left: 5px;
                    padding-right: 0px;
                }
            }

            .o_input {
                line-height: var(--omux-input-lh, $o-line-height-lg);
            }

            .o_dropdown_button {
                margin-top: .35em;
            }
        }

        .o_field_widget[class*="many2many_avatar"]:has(.o_input) {
            background-color: var(--omux-input-bg);
            border-radius: $o-border-radius;
            padding-right: 5px;

            .o_input {
                line-height: var(--omux-input-lh, $o-line-height-lg);
            }

            .o_dropdown_button {
                margin-top: -1px;
            }
        }
    }
}